/* .playerContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.imageContainer {
    width: 45%;
    margin-right: 5%;
}

.playerImg {
    position: relative;
    z-index: 1;
    width: 100%;
}

.playerPlatform {
    position: absolute;
    top: 62%;
    left: -2%;
    width: 60%;
    height: 50%;
    border-radius: 100%;
    border: 5px solid #9FA8AD;
    background-color: #D4DDDA;
}
    
.playerContainerInfo {
    position: relative;
    z-index: 1;
    background-color: #6A725D;
    width: 45%;
    padding: 5px;
    height: max-content;
    border: 2px solid #232A1C;
    border-radius: 5px 0 0 5px;
    box-shadow: inset 2px 2px 2px #AEB49E,
                inset -2px -2px 2px #AEB49E,
                2px 2px 2px #E6F4E1,
                -2px -2px 2px #E6F4E1;
}

.playerInfo {
    display: flex;
    justify-content:space-between;
}

.playerHealt {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.playerHealtBar {
    width: 60%;
}

.playerHp {
    margin-right: 5px;
    font-size: small;
}

.playerHpNumeric {
    width: 100%;
    text-align: end;
    margin-top: 5px;
    margin-right: 5px;
}

progress {
    -webkit-appearance: none;
  }
  
::-webkit-progress-bar {
    background-color: whitesmoke;
    border-radius: 2px;
} */